[submodule "libopencm3"]
	path = contrib/libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "tinycbor"]
	path = contrib/tinycbor
	url = https://github.com/intel/tinycbor
[submodule "contrib/CMSIS_5"]
	path = contrib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "contrib/CMSIS_Device/ST"]
	path = contrib/CMSIS_Device/ST
	url = https://github.com/dmitrystu/stm32h
[submodule "contrib/libusb_stm32"]
	path = contrib/libusb_stm32
	url = https://github.com/dmitrystu/libusb_stm32/
