[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "tinycbor"]
	path = tinycbor
	url = https://github.com/intel/tinycbor
[submodule "contrib/cmsis_core"]
	path = contrib/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core
[submodule "contrib/cmsis_device_h7"]
	path = contrib/cmsis_device_h7
	url = https://github.com/STMicroelectronics/cmsis_device_h7
